// обнуление
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: block;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
//переменные
$color-black: #030303;
$color-wite: #ffffff;
$color-gold: #9d8665;
$roboto: Roboto;
$forum: Forum;

//proect
//main
body {
  font-family: $forum;
  overflow-x: hidden;
}
.countaner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1024px) {
    max-width: 1024px;
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    max-width: 728px;
    padding: 0 20px;
  }
  @media (max-width: 420px) {
    max-width: 380px;
    padding: 0 20px;
  }
}
.logo {
  display: flex;
  align-items: center;
  .logo__image {
    display: block;
    height: 26px;
    width: 49px;
    background: url(../image/main/logo.png) no-repeat center;
    @media (max-width: 420px) {
      background: url(../image/main/logo2.png) no-repeat center;
      height: 16px;
      width: 29px;
    }
  }
  .logo__title {
    color: $color-wite;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 25px;
    @media (max-width: 768px) {
      line-height: 50px;
    }
    @media (max-width: 420px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
.welcome {
  background-color: $color-black;
}
.header {
  padding: 59px 0 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  @media (max-width: 1024px) {
    height: 130px;
    position: relative;
  }
  @media (max-width: 768px) {
    height: 110px;
    padding: 35px 0;
  }
  @media (max-width: 420px) {
    height: 90px;
    padding: 20px 0;
  }
  .menu-burger {
    visibility: hidden;
    @media (max-width: 1024px) {
      visibility: visible;
      height: 18px;
      width: 32px;
      position: absolute;
      top: 56px;
      right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .menu-burger__item {
        height: 2px;
        width: 32px;
        background-color: white;
      }
    }
    @media (max-width: 768px) {
      top: 46px;
      right: 0;
    }
    @media (max-width: 420px) {
      top: 36px;
      right: 0;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 775px;
    @media (max-width: 1024px) {
      display: block;
      height: 585px;
      max-width: 297px;
      position: absolute;
      top: 130px;
      left: -100%;
      padding: 35px 0 0 55px;
      background-color: black;
    }
    @media (max-width: 768px) {
      max-height: 861px;
      max-width: 100%;
      z-index: 30;
      top: 110px;
    }

    .nav__item {
      @media (max-width: 1024px) {
        margin: 0 0 25px 0;
      }
    }
    .nav__item a {
      color: $color-wite;
      font-family: $roboto;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      @media (max-width: 1024px) {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
      }
    }
    .nav__item-link:hover {
      color: #9d8665;
    }
    .nav__item-link:active {
      color: #7e6c51;
    }
    .nav__item-link::after {
      @media (max-width: 1024px) {
        content: '>';
        position: absolute;
        right: 121px;
      }
      @media (max-width: 768px) {
        left: 167px;
      }
    }
  }
}

.title {
  color: $color-wite;
  font-family: $forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 50px;
    line-height: 90px;
  }
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 60px;
  }
  @media (max-width: 420px) {
    font-size: 28px;
    line-height: 40px;
  }
}
.welcome__count {
  background: url(../image/main/picture1.png) no-repeat right;
  padding: 182px 0 272px 0;
  @media (max-width: 1024px) {
    background: url(../image/main/picture2.png) no-repeat right;
    padding: 0 0 0 0;
    height: 525px;
  }
  @media (max-width: 768px) {
    background: black;
    height: 215px;
    @media (max-width: 420px) {
      height: 165px;
    }
  }
  .welcome__title {
    max-width: 600px;
    margin-bottom: 25px;
    @media (max-width: 768px) {
      text-align: center;
      margin: 0 auto;
    }
    @media (max-width: 420px) {
      padding: 5px 0 0 0;
    }
  }

  .welcome__text {
    color: $color-wite;
    font-family: $roboto;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      padding: 25px 0 50px 0;
    }
    @media (max-width: 420px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .welcome__button {
    margin: 75px 0 0 0;
    width: 360px;
    height: 75px;
    background-color: #710707;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $color-wite;
    font-family: $roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    @media (max-width: 1024px) {
      width: 300px;
      height: 60px;
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 768px) {
      visibility: hidden;
    }
  }
  .welcome__button:hover {
    background-color: #9d8665;
  }
}
.welcome-ing__764 {
  visibility: hidden;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  img {
    @media (max-width: 768px) {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    visibility: visible;
  }
}
.scrole {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $color-black;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  @media (max-width: 1024px) {
    height: 120px;
    width: 100%;
    margin: 0 0 0 auto;
    position: relative;
    top: -60px;
    padding: 0 57px 0 115px;
    display: inline-flex;
    justify-content: end;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
    position: static;
    display: flex;
    justify-content: center;
    padding: 0 0;
    height: 100px;
  }
  @media (max-width: 420px) {
    height: 80px;
  }
  > div {
    @media (max-width: 1024px) {
      margin: 0 0 0 45px;
    }
    @media (max-width: 420px) {
      margin: 0 0 0 25px;
    }
  }
  .scrole__numbers {
    display: flex;
    justify-content: center;

    :first-child {
      margin-right: 10px;
    }
    :first-child::after {
      margin-left: 10px;
      content: '|';
    }
    .scrole__number {
      color: $color-wite;
      font-family: $roboto;
      font-size: 22px;
      line-height: 40px;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
  }
  .scrole__squares {
    display: flex;
    justify-content: space-between;
    height: 180px;
    align-items: center;

    .scrole__squares-square {
      display: block;
      margin: 0 12.5px;
      width: 16px;
      height: 16px;
      background-color: $color-wite;
      @media (max-width: 1024px) {
        width: 12px;
        height: 12px;
      }
      @media (max-width: 768px) {
        margin: 0 9px;
      }
      @media (max-width: 420px) {
        width: 7px;
        height: 7px;
        margin: 0 5px;
      }
    }
    :first-child {
      background-color: #d2b183;
    }
  }
  .scrole__arows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    height: 10px;
    @media (max-width: 420px) {
      min-width: 50px;
    }

    .scrole__arows-left {
      background: url(../image/main/left.png) no-repeat center;
      display: block;
      width: 30px;
      height: 8px;
      margin: 0 10px 0 0;
      @media (max-width: 420px) {
        background: url(../image/main/←-1loy.svg) no-repeat center;
        margin: 0 5px 0 0;
        height: 8px;
        width: 20px;
      }
    }

    .scrole__arows-right {
      background: url(../image/main/right.png) no-repeat center;
      display: block;
      width: 30px;
      height: 8px;
      margin: 0 0 0 10px;
      @media (max-width: 420px) {
        background: url(../image/main/←loy.svg) no-repeat center;
        margin: 0 0 0 5px;
        height: 8px;
        width: 20px;
      }
    }
  }
}
// Visiting

.slider__title {
  color: $color-gold;
  padding: 25px 20px;
  margin: 50px 0;
  border-bottom: 3px #710707 solid;
  @media (max-width: 1024px) {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    padding: 20px 0;
  }
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 60px;
    margin: 40px 0;
    padding: 20px 0;
  }
  @media (max-width: 420px) {
    font-size: 28px;
    line-height: 40px;
    padding: 20px 0;
  }
}
.plases {
  padding: 25px 40px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1024px) {
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 34px;
  }
  @media (max-width: 768px) {
    max-width: 728px;
    padding: 0 24px;
  }
  @media (max-width: 420px) {
    max-width: 380px;
    padding: 0 18px;
  }

  .plase {
    flex: 0 1 auto;
    padding-bottom: 75px;
    @media (max-width: 1024px) {
      padding-bottom: 60px;
    }
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }

    .plase__img img {
      max-width: 440px;
      max-height: 285px;
      @media (max-width: 1024px) {
        max-height: 215px;
        max-width: 330px;
      }
      @media (max-width: 768px) {
        max-height: 180px;
        max-width: 280px;
      }
    }
  }
  .plase__title {
    font-family: $forum;
    color: $color-gold;
    border-bottom: 3px #710707 solid;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    margin: 25px 0 12px 0;
    padding-bottom: 10px;
    @media (max-width: 1024px) {
      max-width: 330px;
      font-size: 28px;
      line-height: 31px;
      letter-spacing: 3px;
    }
    @media (max-width: 768px) {
      max-width: 280px;
      font-size: 22px;
      line-height: 24px;
    }
    @media (max-width: 420px) {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 5px;
    }
  }
  .plase__view {
    font-family: $roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (max-width: 420px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  .plase__text {
    font-family: $roboto;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
// Explore
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 420px) {
}
.explore {
  background-color: $color-black;
  .explore__flex {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
  }
  .explore__info {
    max-width: 660px;
  }
  .explore__title {
    max-width: 660px;
    padding-bottom: 25px;
    margin-bottom: 75px;
    font-family: $forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    border-bottom: 3px #710707 solid;
  }
  .explore__text {
    color: $color-wite;
    font-family: $roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    p {
      margin-bottom: 25px;
    }
    span {
      color: $color-gold;
    }
  }
  .explore__picture {
    background: url(../image/info/Rectangle.png) no-repeat center;
    width: 720px;
    height: 700px;
    margin-top: 15px;
    position: relative;
    .line {
      position: absolute;
      top: 0;
      left: 421px;
    }
  }
}
// Video
.video__flex {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  align-items: center;
  .video__title {
    color: $color-gold;
    font-family: $forum;
    flex: 0 1 auto;
  }
  .video__text {
    font-family: $roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: $color-black;
    max-width: 720px;
  }
}

.player {
  .player__main-count {
    position: relative;
    .player__main {
      max-width: 1440px;
      max-height: 650px;
    }
    .player__main-play {
      img {
        padding-left: 20px;
      }
      position: absolute;
      left: 610px;
      top: 210px;
      background: none;
      border: 8px $color-wite solid;
      border-radius: 100%;
      width: 220px;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .player__main-control__flex {
      max-width: 1440px;
      height: 88px;
      margin-top: -3px;
      background-color: $color-black;
      display: flex;
      align-items: center;
      .player__main-control-play {
        height: 27px;
        width: 30px;
        margin-left: 30px;
        background: url(../image/video/play.png) no-repeat center;
      }
      .player__main-control-play:hover {
        opacity: 0.6;
      }
      .player__main-control-input-time {
        width: 925px;
        margin-left: 50px;
      }
      .player__main-control-volume {
        height: 30px;
        width: 50px;
        margin: 0 45px;
        background-color: $color-black;
        display: flex;
        align-items: center;
        .player__main-control-volume__wave-smol {
          margin-left: 3px;
        }
        .player__main-control-volume__wave-big {
          margin-left: -4px;
        }
      }
      .player__main-control-input-volume {
        width: 150px;
      }
      .player__main-control-fullscreen {
        width: 35px;
        height: 35px;
        background-color: $color-black;
        margin-left: 50px;
        position: relative;
        .fullscreen__tl {
          position: absolute;
          top: 0;
          left: 0;
        }
        .fullscreen__tr {
          position: absolute;
          top: 0;
          right: 0;
        }

        .fullscreen__bl {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .fullscreen__br {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .player__main-control-fullscreen:hover {
        opacity: 0.6;
      }
    }
    .player__main-control-volume:hover {
      opacity: 0.6;
    }
  }

  .player__flex {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  iframe {
    width: 452px;
    height: 254px;
  }
}
.video__scrole {
  display: flex;
  margin: 0 auto;
  width: 200px;
  justify-content: space-between;
  padding-bottom: 75px;

  .video__scrole-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999999;
  }
  .video__scrole-item-activ {
    background-color: #333333;
  }
}

// Gallery
.gallery {
  background-color: $color-black;
  position: relative;

  .curtain {
    position: absolute;
    top: 1840px;
    left: 0;
    height: 360px;
    width: 1440px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  .curtain__wite {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1000px;
    width: 100%;
    background-color: white;
    z-index: 10;
  }
  .gallery__title {
    padding: 75px 0 125px 0;
  }
  .gallery__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2900px;
    width: 1440px;
    .gallery__flex-item {
      margin-bottom: 12px;
    }
    .gallery__flex-item6,
    .gallery__flex-item7,
    .gallery__flex-item8,
    .gallery__flex-item9,
    .gallery__flex-item10 {
      margin: 0 18px 12px 18px;
    }
    .gallery__flex-item6 {
      margin-top: -50px;
    }
  }
}
// Tickets
.tickets {
  position: relative;
  z-index: 20;
  background-color: $color-wite;
  margin-top: -1000px;
  .tickets__title {
    color: $color-gold;
    margin: 75px 0;
    padding-bottom: 25px;
    border-bottom: solid 3px #710707;
  }
}
.flex-tickets {
  display: flex;

  .image-tickets {
    background: url(../image/tickets/tickets.png) no-repeat center;
    width: 720px;
    height: 550px;
  }
  .type-tickets {
    margin-left: 60px;
    flex: 1 1 auto;
    .type-tickets__title {
      color: $color-black;
      font-family: $roboto;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 50px;
    }
    p {
      color: $color-black;
      font-family: $roboto;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      margin: 0 0 25px 0;
    }
    input {
      margin-right: 23px;
    }
  }
  .amount-tickets {
    text-align: right;
    .amount-tickets__title {
      color: $color-black;
      font-family: $roboto;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 25px;
    }
    .input-sum {
      width: 150px;
      margin-left: auto;
      .input-sum__text {
        color: $color-black;
        font-family: $roboto;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        margin-bottom: 15px;
      }
      .input-sum__flex {
        width: 150px;
        height: 50px;
        margin-bottom: 10px;
        border: $color-black solid 3px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .input-sum_input {
          width: 55px;
          font-family: $roboto;
          font-weight: 300;
          font-size: 22px;
          line-height: 26px;
          color: $color-black;
          text-align: center;
          padding-left: 10px;
        }
        .input-sum_button {
          background-color: $color-wite;
          font-family: $roboto;
          font-size: 32px;
          line-height: 37px;
          text-align: center;
          color: $color-black;
        }
        .input-sum_minus {
          font-size: 54px;
        }
      }
    }
    .amount-total__flex {
      display: flex;
      font-family: $roboto;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-top: 50px;
      justify-content: flex-end;
    }

    .amount-tickets__button {
      background-color: $color-black;
      color: $color-wite;
      font-family: $roboto;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 2px;
      width: 175px;
      height: 50px;
      margin-top: 60px;
      border-radius: 2px;
    }
    .amount-tickets__button:hover {
      background-color: #9d8665;
      color: #000000;
    }
  }
}
.paralax {
  margin: 75px auto;
  background: url(../image/tickets/parallax1.png) no-repeat center;
  height: 400px;
  width: 1920px;
}
// Booking tickets

.form-buy {
  position: relative;
  width: 2300px;
  height: 1800px;
  padding: 260px 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
  transform: translateX(-100%);
  z-index: 30;
  .form-buy__close {
    position: absolute;
    top: 50px;
    right: 60px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .form-buy__close-line {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.form-buy-columns {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  margin: 0 auto;
  background-color: $color-wite;
  .form-buy-columns__left {
    max-width: 400px;
    .form-buy__logo {
      width: 85px;
      height: 41px;
      background: url(../image/tickets-buy/logo.svg) no-repeat center;
    }
    .form-buy__title {
      color: $color-gold;
      font-family: $forum;
      font-size: 50px;
      line-height: 55px;
      letter-spacing: 0px;
    }
    .form-buy__text {
      font-family: $roboto;
      font-size: 18px;
      line-height: 21px;
      color: #710707;
      margin: 15px 0 60px 0;
      padding-bottom: 10px;
      border-bottom: 3px solid #710707;
    }
    .form-buy-input {
      display: flex;
      align-items: center;
      border: 1px solid #030303;
      height: 45px;
      margin-bottom: 20px;

      .form-buy-input__logo {
        margin: 0 15px;
      }
      .form-buy-input__title {
        font-family: $roboto;
        font-size: 18px;
        line-height: 21px;
        color: #030303;
        flex: 1 1 auto;
      }
      .form-buy-input__arr {
        margin: 0 14px;
      }
    }
    .date-ant-time-contaner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .form-buy-input__date {
        width: 190px;

        .form-buy-input__logo__date {
          position: relative;
          height: 15px;
          width: 15px;
          .form-buy-input__logo__date__top {
            position: absolute;
            left: 0;
            top: 0;
          }
          .form-buy-input__logo__date__bottom {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      .form-buy-input__time {
        width: 190px;
      }
    }
  }
}
.form-buy-input__input {
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.form-buy__entry-ticket {
  width: 400px;
  height: 135px;
  border: 1px solid $color-black;
  padding: 10px 15px 15px 15px;
  .form-buy__entry-ticket__title {
    font-family: $forum;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: $color-gold;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #740c11;
    margin: 0 0 18px 0;
  }
  .form-buy__entry-ticket__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .form-buy__entry-ticket__type {
      font-family: $roboto;
      font-size: 18px;
      line-height: 21px;
      color: $color-black;
    }
    .form-buy__entry-ticket__total {
      font-family: $roboto;
      font-size: 18px;
      line-height: 21px;
      color: $color-black;
      flex: 1 1 auto;
      margin: 0 0 0 5px;
    }
    .form-buy__entry-ticket__button {
      background-color: $color-black;
      color: $color-wite;
      width: 35px;
      height: 25px;
      font-size: 20px;
    }
    .form-buy__entry-ticket__input {
      border: 2px solid $color-black;
      width: 45px;
      height: 25px;
      font-size: 20px;
      font-family: $roboto;
      text-align: center;
      padding-left: 9px;
    }
  }
}
.form-buy-columns__right {
  width: 530px;
  height: 663px;
  border: 1px solid #030303;
  padding: 25px 30px 28px 30px;
  position: relative;
  .result-ticket__image {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 150px;
    height: 120px;
    background: url(../image/tickets-buy/img.png) no-repeat center;
  }
  .result-ticket__text {
    font-family: $roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 2px;
    color: #272727;
  }
  .result-ticket__type {
    font-family: $roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740c11;
    opacity: 0.9;
    margin-bottom: 10px;
  }
  .result-ticket__day {
    display: flex;
    margin-bottom: 5px;
    .result-ticket__day-img {
      position: relative;
      height: 15px;
      width: 15px;
      .form-buy-input__logo__date__top {
        position: absolute;
        top: 0;
        left: 0;
      }
      .form-buy-input__logo__date__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .result-ticket__day-text {
      padding: 0 0 0 15px;
      font-family: $roboto;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #030303;
    }
  }
  .result-ticket__time {
    display: flex;
    margin-bottom: 5px;
    .result-ticket__time-text {
      padding: 0 0 0 15px;
      font-family: $roboto;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #030303;
    }
  }
  .result-ticket__tick {
    display: flex;
    .result-ticket__tick-text {
      padding: 0 0 0 15px;
      font-family: $roboto;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #030303;
      margin: 0 0 25px 0;
    }
  }
  .result-type {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;
    .result-type__img {
      font-family: $roboto;
      font-size: 18px;
      line-height: 21px;
      color: #a4a4a3;
      width: 32px;
      height: 20px;
      background-color: $color-black;
      border-radius: 20%;
      text-align: center;
      margin: 0 10px 0 0;
    }
    .result-type__type {
      font-family: $roboto;
      font-size: 22px;
      line-height: 26px;
      color: #030303;
    }
    .result-type__cost {
      font-family: $roboto;
      font-size: 22px;
      line-height: 26px;
      color: #030303;
      margin: 0 0 0 5px;
      flex: 1 1 auto;
    }
    .result-type__total {
      font-family: $roboto;
      font-size: 22px;
      line-height: 26px;
      color: #030303;
    }
  }
  .total-ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $roboto;
    font-size: 32px;
    line-height: 37px;
    color: #030303;
    margin: 9px 0 10px 0;
    padding: 10px 0 0 0;
    border-top: 2px solid #740c11;
  }
}
.card {
  width: 470px;
  height: 241px;
  position: relative;
  .card-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 211px;
    background-color: #939393;
    border-radius: 2%;
    .card-back__midle-line {
      background-color: #161615;
      margin: 25px 0 0 0;
      height: 45px;
      width: 100%;
    }
    .card-back__cvv {
      font-family: $roboto;
      font-size: 12px;
      line-height: 14px;
      color: #161615;
      padding: 15px 0 0 274px;
    }
    .card-back__input {
      height: 35px;
      width: 75px;
      margin: 5px 0 6px 265px;
      font-family: $roboto;
      font-size: 15px;
    }
    .card-back__info {
      font-family: Roboto;
      font-size: 10px;
      line-height: 12px;
      color: #161615;
      height: 50px;
      width: 55px;
      text-align: left;
      margin: 0 0 0 275px;
      z-index: 1;
    }
  }
  .card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 211px;
    background-color: #bcbcbc;
    border-radius: 2%;
    z-index: 2;
    padding: 15px 20px;

    .card-front__title {
      font-family: $roboto;
      font-size: 12px;
      line-height: 14px;
      color: #161615;
    }
    .card-front__input {
      height: 35px;
      margin: 5px 0 10px 0;
      font-family: $roboto;
      font-size: 14px;
      color: #161615;
    }
    .card-front__input-number {
      width: 215px;
    }
  }
  .card-front__inputs-count {
    display: flex;
    justify-content: space-between;
    width: 215px;
  }
  .card-front__label {
    display: flex;
    height: 35px;
    width: 100px;
    margin: 5px 0 10px 0;
    .card-front__number {
      font-family: $roboto;
      font-size: 14px;
      color: #161615;
      padding: 0 0 0 10px;
      width: 72px;
    }
    .card-front__arrows {
      background-color: $color-wite;
      border-left: #bcbcbc solid 1px;
      width: 28px;
      position: relative;
      .card-front__arrow-top {
        position: absolute;
        top: 12px;
        left: 11px;
      }
      .card-front__arrow-bottom {
        position: absolute;
        bottom: 12px;
        left: 11px;
      }
    }
  }
  .card-front__input-name {
    width: 320px;
  }
  .card-front__logo {
    position: absolute;
    top: 34px;
    right: 20px;
    height: 63px;
    width: 53px;
    .visa {
      position: absolute;
      top: 0;
      left: 0;
    }
    .visa1 {
      position: absolute;
      top: 0;
      left: 19px;
    }
    .visa2 {
      position: absolute;
      top: 0;
      left: 4.44px;
    }
    .visa3 {
      position: absolute;
      top: 0;
      left: 25px;
    }
    .visa4 {
      position: absolute;
      top: 0;
      left: 36px;
    }
    .mastercard1 {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .mastercard {
      position: absolute;
      bottom: 0;
      left: 21px;
    }
    .mastercard2 {
      position: absolute;
      bottom: 11px;
      left: 0;
    }
  }
}
.btn-book {
  height: 45px;
  width: 220px;
  background-color: #710707;
  font-family: $roboto;
  font-size: 22px;
  color: #ffffff;
  margin: 26px 0 0 250px;
}
.btn-book:hover {
  background: #9d8665;
}
.form-buy__active {
  transform: translateX(0%);
}
// Contacts
.contacts__title {
  color: $color-gold;
  padding-bottom: 25px;
  border-bottom: #710707 solid 3px;
}
.contacts_flex {
  margin: 75px 0;
  display: flex;
  justify-content: space-between;
  .addres {
    .addres__title {
      max-width: 227px;
      font-family: $roboto;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: $color-black;
      margin-bottom: 50px;
    }
    p {
      font-family: $roboto;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      color: $color-black;
      margin-bottom: 25px;
      a {
        color: $color-black;
      }
    }
  }
  .map {
    background: url(../image/contacts/map.png) center no-repeat;
    width: 960px;
    height: 620px;
  }
}
.form-buy__activ {
  transform: translateX(0%);
}
// footer
.footer {
  background-color: $color-black;
  padding: 84px 0 0 0;
  .footer__flex {
    display: flex;

    .logo {
      align-self: flex-start;
    }
    .footer-nav {
      flex: 1 0 auto;

      ul {
        columns: 2;
        li {
          a {
            font-family: $roboto;
            font-weight: 200;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
            color: $color-wite;
          }
          margin: 0 0 25px 145px;
        }
        .nav__item-link:hover {
          color: #9d8665;
        }
        .nav__item-link:active {
          color: #7e6c51;
        }
      }
    }

    .social {
      text-align: end;
      width: 700px;
      align-self: flex-end;
      margin-bottom: 25px;

      ul {
        li {
          display: inline-table;

          a {
            width: 48px;
            height: 48px;
            border: 1px solid #666666;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
          }
        }
        a:hover {
          border: 3px solid #710707;
        }
      }
    }
  }
  .line {
    background-color: #666666;
    height: 3px;
    margin: 25px 0 50px 0;
  }
  .about-proekt {
    color: $color-wite;
    font-family: $roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 52px;
  }
}
